<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta charset="UTF-8">
    <title>Edit Kendaraan</title>
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<body class="bg-[#E2F1E7]">
    <div class="flex h-screen overflow-y-auto">
        <div class="w-full flex items-center justify-center bg-[#FAFAFA]">
            <div class="bg-[#E2F1E7] p-8 rounded-lg shadow-md w-11/12 md:w-3/4 lg:w-1/2 opacity-95 max-h-full overflow-y-auto">
                <h2 class="text-3xl md:text-4xl text-[#004D40] font-bold mb-6">Edit Kendaraan</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <!-- Column 1 -->
                        <div>
                            <div class="mb-4">
                                <label for="link_foto" class="block text-[#004D40] font-bold mb-2">Gambar Kendaraan</label>
                                <input type="text" id="link_foto" name="link_foto" 
                                       class="w-full border-b border-[#B2EBF2] bg-transparent py-2 outline-none max-wid" 
                                       value="{{ form.link_foto.value }}" 
                                       required oninput="displayImage()">
                            </div>
                            <div class="mb-4">
                                <label for="merk" class="block text-[#004D40] font-bold mb-2">Merek Kendaraan</label>
                                <input type="text" id="merk" name="merk" 
                                       class="w-full border-b border-[#B2EBF2] bg-transparent py-2 outline-none" 
                                       value="{{ form.merk.value }}" 
                                       required>
                                {% if errors.merk %}
                                    <p class="text-red-500">{{ errors.merk }}</p>
                                {% endif %}
                            </div>
                            <div class="mb-4">
                                <label for="tipe" class="block text-[#004D40] font-bold mb-2">Tipe Kendaraan</label>
                                <input type="text" id="tipe" name="tipe" 
                                       class="w-full border-b border-[#B2EBF2] bg-transparent py-2 outline-none" 
                                       value="{{ form.tipe.value }}" 
                                       required>
                                {% if errors.tipe %}
                                    <p class="text-red-500">{{ errors.tipe }}</p>
                                {% endif %}
                            </div>
                            <img id="image_preview" src="" alt="Preview" class="mt-4 rounded-lg border" style="display:none; max-width: 60%;"/>
                        </div>

                        <!-- Column 2 -->
                        <div>
                            <div class="mb-4">
                                <label for="jenis_kendaraan" class="block text-[#004D40] font-bold mb-2">Jenis Kendaraan</label>
                                <input type="text" id="jenis_kendaraan" name="jenis_kendaraan" 
                                       class="w-full border-b border-[#B2EBF2] bg-transparent py-2 outline-none" 
                                       value="{{ form.jenis_kendaraan.value }}" 
                                       required>
                                {% if errors.jenis_kendaraan %}
                                    <p class="text-red-500">{{ errors.jenis_kendaraan }}</p>
                                {% endif %}
                            </div>
                            <div class="mb-4">
                                <label for="warna" class="block text-[#004D40] font-bold mb-2">Warna Kendaraan</label>
                                <input type="text" id="warna" name="warna" 
                                       class="w-full border-b border-[#B2EBF2] bg-transparent py-2 outline-none" 
                                       value="{{ form.warna.value }}" 
                                       required>
                                {% if errors.warna %}
                                    <p class="text-red-500">{{ errors.warna }}</p>
                                {% endif %}
                            </div>
                            <div class="mb-4">
                                <label for="bahan_bakar" class="block text-[#004D40] font-bold mb-2">Bahan Bakar</label>
                                <input type="text" id="bahan_bakar" name="bahan_bakar" 
                                       class="w-full border-b border-[#B2EBF2] bg-transparent py-2 outline-none" 
                                       value="{{ form.bahan_bakar.value }}" 
                                       placeholder="Misal: Bensin, Diesel, Listrik" 
                                       required>
                            </div>
                            <div class="mb-4">
                                <label for="harga" class="block text-[#004D40] font-bold mb-2">Harga per Hari</label>
                                <input type="number" id="harga" name="harga" 
                                       class="w-full border-b border-[#B2EBF2] bg-transparent py-2 outline-none" 
                                       value="{{ form.harga.value }}" 
                                       step="0.01" required>
                            </div>
                            <div class="mb-4">
                                <label for="status" class="block text-[#004D40] font-bold mb-2">Status Kendaraan</label>
                                <select id="status" name="status" class="w-full border-b border-[#B2EBF2] bg-transparent py-2 outline-none" required>
                                    <option value="Sewa" {% if form.status.value == 'Sewa' %}selected{% endif %}>Sewa</option>
                                    <option value="Jual" {% if form.status.value == 'Jual' %}selected{% endif %}>Jual</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-6 flex justify-end">
                        <a href="{% url 'joinpartner:show_vehicle' %}" 
                           class="w-1/2 inline-block bg-[#fafafa] hover:bg-[#E2F1E7] text-[#387478] py-2 rounded-lg font-bold text-center mt-2 mr-2">
                            Cancel
                        </a>
                        <button type="submit" 
                                class="w-1/2 bg-[#FAFAFA] hover:bg-teal-50 text-[#387478] py-2 rounded-lg font-bold text-center mt-2 ml-2">
                            Edit Kendaraan
                        </button>
                    </div>
                </form>

                <!-- Tampilkan pesan kesalahan jika ada -->
                {% if form.errors %}
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li class="text-red-500">{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li class="text-red-500">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        function displayImage() {
            const imageInput = document.getElementById('link_foto');
            const imagePreview = document.getElementById('image_preview');
            imagePreview.src = imageInput.value; 
            imagePreview.style.display = 'block'; 
        }
    </script>
</body>
{% endblock %}
